CompileFlags:
  Add:
    - "-target"
    - "x86_64-unknown-none-elf"
    - "-ffreestanding"
    - "-Ilibc/include"
    - "-Ikernel/include"
    - "-I."
    - "-D__x86_64__=1"
  Remove:
    - "-mcmodel=kernel"
    - "-mno-80387"
    - "-fno-stack-check"
Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "drv_unknown_argument"
